:root {
  --player1-color: #ed456f;
  --player2-color: #5572e6;
  --background-color: #212224;

  --hover-color: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #363745;
  margin-top: 100px;
  color: white;
  font-family: monospace, sans-serif;

  font-size: 24px;
  text-transform: uppercase;
}

div#container {
  display: grid;
  grid-template-rows: 50px max-content max-content max-content;
  grid-template-columns: 50px max-content 50px;
  line-height: 0;
  background-color: #212224;
}

div#tttgrid {
  text-align: center;
  grid-area: 2 / 2 / 3 / 3;
}

div#tttstatus {
  grid-area: 3 / 2 / 4 / 3;
  text-align: center;
  margin: 10px;
  height: 40px;
  line-height: 40px;
}

section#buttons {
  grid-area: 4 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.tttrow {
  display: block;
  margin: 4px 0;
}

div.tttcell {
  display: inline-flex;
  position: relative;
  margin-inline: 2px;
  min-width: 70px;
  min-height: 70px;
  background-color: #2b2c30;
  justify-content: center;
  align-items: center;

  transition: 
    background-color 0.2s ease
  ;
}

div.filledcell::after {
  display: inline-block;
  text-rendering: auto;
  position: absolute;
  font: var(--fa-font-solid);
  font-size: 2em;

  animation-name: popin;
  animation-duration: 0.2s;
  animation-timing-function: ease;
}

div.tttcell.red::after, div.tttcell.win-red::after {
  content: 'X';
}

div.tttcell.blue::after, div.tttcell.win-blue::after {
  content: 'O';
}

div.hoverable:hover {
  background-color: var(--hover-color);
}

.red, div.red {
  /* background-color: #ed456f; */
  color: #ed456f;
}

.blue, div.blue {
  /* background-color: #5572e6; */
  color: #5572e6;
}

div.tttcell.win-red {
  background-color: #ed456f;
  color: #2b2c30;
}

div.tttcell.win-blue {
  background-color: #5572e6;
  color: #2b2c30;
}

i.red, i.blue {
  margin-right: 10px;
  vertical-align: -0.2px;
}

button#reset {
  padding: 0.5em 1em;
  margin: 1em;
  background-color: #2b2c30;
  border: 0;
  color: white;
  grid-area: 4 / 2 / 4 / 3;
  justify-self: center;

  text-transform: uppercase;
  font-size: 20px;
  font-family: monospace, sans-serif;

  transition:
    background-color 0.2s ease,
    color 0.2s ease
  ;
}

button#reset:hover {
  background-color: #ed456f;
  color: #2b2c30;
}

button#reset:active {
  background-color: #ba2e4e;
  color: #2b2c30;
}

@keyframes popin {
  from {
    font-size: 0em;
  }

  to {
    font-size: 2em;
  }
}

span#statusline {
  transition: border-bottom-width 0.2s ease;
}

span#statusline.win-red {
  border-bottom: 3px solid var(--player1-color)
}

span#statusline.win-blue {
  border-bottom: 3px solid var(--player2-color)
}

span#statusline.tie {
  border-bottom: 3px solid white
}
