/* --- GLOBAL --- */

* {
  box-sizing: border-box;
}

:root {
  --player1-color: #ed456f;
  --player2-color: #5572e6;

  /* For dark themes, background colors get progressively lighter.
   * For light ones, they get progressively darker. */

  --bg-1: #121314;
  --bg-2: color-mix(in srgb, var(--bg-1) 50%, var(--bg-3));
  --bg-3: #212224;
  --bg-4: #2b2c30;
  --bg-5: #363745;

  --hover-color: var(--bg-3);

  --unit-size: 100vmax;
  --cell-size: calc(var(--unit-size) * 1.5);

  font-size: 20px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-5);
  color: white;
  font-family: monospace, sans-serif;

  text-transform: uppercase;
}

.hidden {
  display: none !important;
}

div#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-3);
  height: 100%;
  padding: 50px;
  width: 720px;
}

div#gameview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

div#center {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-1);
  margin: 50px;
  padding: 32px;
  border-radius: 32px;

  font-size: 100vw;

  border-color: #ffffff;
  border-style: solid;
  border-width: 0;

  transition:
    border-width 0.2s ease
  ;
}

div#gamecenter {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 500px;
  background-color: var(--bg-1);
  border-radius: 16px;
  overflow: hidden hidden;
}

div#status {
  text-align: center;
  margin: 10px;
  height: 40px;
  line-height: 40px;
}

div.buttons-hbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

button, input[type='submit'] {
  font-size: 20px;
  padding: 0.5em 1em;
  border-radius: 4px;
  background-color: var(--bg-1);
  border: 0;
  color: white;
  justify-self: center;

  text-transform: uppercase;
  font-size: 20px;
  font-family: monospace, sans-serif;
  max-width: 200px;
  white-space: normal;

  transition:
    background-color 0.2s ease,
    color 0.2s ease
  ;
}

button:hover, input[type='submit']:hover {
  background-color: var(--player1-color);
  color: var(--bg-1);
}

button:active, input[type='submit']:active {
  background-color: #ba2e4e;
  color: var(--bg-1);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type='number'] {
  max-width: 2em;
  background-color: var(--bg-1);
  color: white;
  border: 0;
  font-size: 20px;
  border-radius: 4px;
  text-align: right;
  padding: 4px;
}

input[type='number']:invalid {
  border-bottom: 2px solid var(--player1-color);
}

div.scorecontainer {
  display: flex;
  justify-content: space-between;
  font-size: 3em;
  gap: 0.5em;
}

span#statusline {
  transition: border-bottom-width 0.2s ease;
}

span#statusline.win-red {
  border-bottom: 3px solid var(--player1-color);
}

span#statusline.win-blue {
  border-bottom: 3px solid var(--player2-color);
}

span#statusline.tie {
  border-bottom: 3px solid white;
}

div#gamemenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-3);
  border-radius: 16px;
}

section#gameselect {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 25%);
  justify-content: center;
  align-items: center;
  gap: 10%;
}

div.gameentry {
  border-radius: 8px;
  min-height: 50px;
  position: relative;
  background-color: var(--bg-5);
  padding: 10px;
}

div.gameentry div.gamedesc {
  display: none;
  position: absolute;
  background: inherit;
  border-radius: inherit;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 10px;
}

div.gameentry:hover div.gamedesc {
  display: block;
  background-color: inherit;
}

div#dimmer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #0000003f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

form.popup {
  background-color: var(--bg-5);
  padding: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}

div.entry {
  display: flex;
  justify-content: space-between;
}
/* Grid for Tic Tac Toe-like games. */
div#tttgrid {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: calc(var(--unit-size) / 4);
}

div.tttrow {
  display: flex;
  gap: calc(var(--unit-size) / 4);
}

div.tttcell {
  display: inline-flex;
  position: relative;
  min-width: var(--cell-size);
  min-height: var(--cell-size);
  background-color: var(--bg-4);
  justify-content: center;
  align-items: center;
  font-size: var(--cell-size);

  color: var(--content-color);
  --content-color: #ffffff;

  transition: 
    background .8s ease,
    background-color 0.2s ease
  ;

  border-radius: calc(var(--unit-size) / 8);

  z-index: 0;
}

.bx::before {
  position: relative;
  z-index: 99;
}

div.tttcell.bx::before {
  position: absolute;
}

div.cellhoverbox {
  position: absolute;
  min-width: 80%;
  min-height: 80%;
  scale: 0;
  /* background-color: color-mix(in srgb, var(--bg-5) 50%, */ 
  /* var(--hoverbox-color) 50%); */
  background-color: var(--hoverbox-color);
  border-radius: calc(var(--unit-size) * 0.25);
  pointer-events: none;

  --hoverbox-color: #ffffff;

  transition:
    min-width 0.2s ease,
    min-height 0.2s ease
  ;

  z-index: 1;
}

div.red div.cellhoverbox,
div.win-red div.cellhoverbox {
  --hoverbox-color: var(--player1-color);
}

div.blue div.cellhoverbox,
div.win-blue div.cellhoverbox {
  --hoverbox-color: var(--player2-color);
}

/* Bigger border radii on corners */
div.tttrow:first-child div.tttcell:first-child {
  border-top-left-radius: calc(var(--unit-size) / 2);
}

div.tttrow:first-child div.tttcell:last-child {
  border-top-right-radius: calc(var(--unit-size) / 2);
}

div.tttrow:last-child div.tttcell:first-child {
  border-bottom-left-radius: calc(var(--unit-size) / 2);
}

div.tttrow:last-child div.tttcell:last-child {
  border-bottom-right-radius: calc(var(--unit-size) / 2);
}

div.tttcell.red, div.tttcell.win-red,
div.tttcell.blue, div.tttcell.win-blue {
}

div.hoverable:hover {
  background-color: var(--hover-color);
}

.red {
  color: var(--player1-color);
}

.blue {
  color: var(--player2-color);
}

div.red {
  --content-color: var(--player1-color);
  background: radial-gradient(
    color-mix(in srgb, var(--player1-color) 50%, var(--bg-3) 50%),
    var(--bg-4)
  );
}

div.blue {
  --content-color: var(--player2-color);
  background: radial-gradient(
    color-mix(in srgb, var(--player2-color) 50%, var(--bg-3) 50%),
    var(--bg-4)
  );
}

div.tttcell.win-red {
  --content-color: var(--bg-4);
  color: var(--content-color);
  background-color: var(--player1-color);
}

div.tttcell.win-blue {
  --content-color: var(--bg-4);
  color: var(--content-color);
  background-color: var(--player2-color);
}

div.tttcell.red.blackicon, div.tttcell.blue.blackicon {
  color: var(--bg-4);
}

i.red, i.blue {
  margin-right: 10px;
  vertical-align: -0.2px;
}

div.game#teethree {
  width: max-content;
  height: max-content;
}

div.game#teefour {
  display: grid;
  grid-template-rows: var(--cell-size) max-content var(--cell-size);
  grid-template-columns: var(--cell-size) max-content var(--cell-size);
  width: max-content;
  height: max-content;
  gap: calc(var(--unit-size) / 4);
}

div.game#teefour div#tttgrid {
  grid-area: 2 / 2;
}

button.expand {
  font-size: var(--unit-size);
  background-color: var(--bg-2);
  border: 0;
  margin: 0px;
  padding: 0;
  justify-content: center;
  align-items: center;

  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: calc(var(--unit-size) / 2);

  display: flex;
}

.hoverbox {
  transition:
    width 0.2s ease,
    height 0.2s ease
  ;
  background-color: var(--hover-color);
  width: 0%;
  height: 0%;
  border-radius: calc(var(--unit-size) / 2);
}

#up .hoverbox {
  align-self: flex-end;
  width: 70%;
}

#down .hoverbox {
  align-self: flex-start;
  width: 70%;
}

#left .hoverbox {
  margin-left: auto;
  height: 70%;
}

#right .hoverbox {
  margin-right: auto;
  height: 70%;
}

button.expand:hover#up .hoverbox,
button.expand:hover#down .hoverbox,
button.expand:hover#left .hoverbox,
button.expand:hover#right .hoverbox {
  width: 100%;
  height: 100%;
}

button#up {
  grid-area: 1 / 2;
}

button#down {
  grid-area: 3 / 2;
}

button#left {
  grid-area: 2 / 1;
}

button#right {
  grid-area: 2 / 3;
}

.expandedcell {
  animation-name: newcellspin;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
}

/* Othello */

div.tttcell.legalmove {
  background-color: var(--bg-2)
}

div.hoverable.legalmove:hover {
  background-color: var(--hover-color);
}

div.flippedcell {
  animation-name: invert;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

/* Media queries */
@media (max-aspect-ratio: 1 / 1), (max-width: 500px) {
  div#container {
    width: 100%;
    margin: 0;
  }

  div#center {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: auto;
    margin-left: 0;
    margin-right: 0;
    aspect-ratio: 1 / 1;
  }

  div#gamecenter {
    height: 100%;
    width: 100%;
  }
}
